

body {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #007081, #10b285);
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    margin: 21px auto;
    padding-top: 9px;
    width: 450px;
    display: block;
    position: relative;
    z-index: 9999;
    height: 630px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #14574e;
    border-radius: 12px;
}

.container h1 {
    background-color: #14574e;
    color: #5e9d94;
    padding: 6px 0px 0px 9px;
    height: 60px;
    border-bottom: 1.5px solid #5e9d94;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    text-shadow: .06em .06em .06em #000;
    text-align: center;
}

.container h4 {
    background-color: #5e9d94;
    border-top: 1.5px solid #14574e;
    color: #14574e;
    margin-top: -9px;
    height: 36px;
    text-shadow: .03em .03em .03em #000;
    padding: 3px 0px 0px 9px;
    text-align: center;
}

.container hr {
    margin-top: -12px;
    border: .5px solid #14574e;
}

.container img {
    border-radius: 18px;
}

.container p.intro {
    font-size: 15px;
}

.container p {
    font-size: 12px;
    text-align: center;
    padding: 0px 9px;
    color: #14574e;
}


.container span {
    background-color: #650e0b;
    color: #fff;
    padding: 3px;
    margin-left: 9px;
    border: 1px solid #074038;
    border-radius: 6px;
}

.media {
    border: 1px solid #75c57b;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    position: absolute;
    width: 420px;
    margin: 6px auto 0px auto;
}

.media ul {
    margin: 6px auto;
}

.media ul li {
    list-style: none;
    margin: 6px 9px;
    width: 27px;
    display: inline-block;
    transition: .5s;
    font-size: 21px;
}

.media a {
    color: #75c57b;
    /*color: #4b4b4b;*/
}

.media a.fa-github:hover {
    color: #4078c0;
    transition: .3s;
    transform: translate(0px, -3px);
}

.media a.fa-bitbucket:hover {
    color: #205081;
    transition: .3s;
    transform: translate(0px, -3px);
}

.media a.fa-linkedin:hover {
    color: #00a0dc;
    transition: .3s;
    transform: translate(0px, -3px);
}

.media a.fa-twitter:hover {
    color: #1da1f2;
    transition: .3s;
    transform: translate(0px, -3px);
}

/*.media a.fa-gitlab:hover {*/
    /*color: #fc6d26;*/
    /*transition: .3s;*/
    /*transform: translate(0px, -3px);*/
/*}*/
